html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    min-height: 100vh;
}

.table {
    --bs-table-striped-bg: rgba(123, 139, 248, 0.075);
    --bs-table-active-bg: rgba(123, 139, 248, 0.1);
    --bs-table-hover-bg: rgba(123, 139, 248, 0.15);
}

.preview {
    width: 100%;
    object-fit: contain;
    margin-bottom: 12px;
}