@model Duckie.Models.Journal

@{
    ViewData["Title"] = "Create Entry";
}

<h1>Create Entry</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JournalDate" class="control-label"></label>
                <input asp-for="JournalDate" class="form-control" />
                <span asp-validation-for="JournalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JournalBody" class="control-label"></label>
                <textarea asp-for="JournalBody" class="form-control"></textarea>
                <span asp-validation-for="JournalBody" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChildProfileId" class="control-label"></label>
                <select asp-for="ChildProfileId" class ="form-control" asp-items="ViewBag.ChildProfileId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
